/* selctor{
  property-name: value;
} */
body {
  background-color: black;
  text-align: center;
  margin: 100px auto;
}
h1 {
  font-style: 100px;
  text-decoration: underline;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 13px
  color: purple;

}
iframe {
  width: 100%;
  float: left;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-style: 50px;
  margin-bottom: 24;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: sans-serif;
}

a {
  color: blue;
  text-decoration: none;
}

a:link {
  color: green;
}

/* visited link */
a:visited {
  color: hotpink;
}

/* mouse over link */
a:hover {
  color: orange;
}

/* selected link */
a:active {
  color: lightblue;
}


/* rgba(100, 180, 76) */
