body {
  background-color: black;
text-align: center;
margin: 100px auto;
}
h1{
  color: hotpink;
  font-style: normal;
  font-size: 50
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-style: 100px;
  margin-bottom: 24;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: sans-serif;
}
a {
  color: blue;
  text-decoration: none;
}

a:link {
  color: hotpink;
}

/* visited link */
a:visited {
  color: grey;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: lightblue;
}
