body {
  background-color: tomato;
  color: white;
}
h1 {
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 47vh
}
a {
  color: white;
  text-decoration: none;
  border-bottom: 5px solid white;
  font-size: 12px

}
a:hover {
  color: black;
  border-bottom-color
}
div {
  width: 40vw;
  margin: 100px 500px;
}
p{
  font-size: 1em;
}
.intro {
  font-size: 1em;
}
