* {
  box-sizing: border-box;
}

body{
  background-color: green;
}
div{


}

.ins, .top, .middle, .bottom{
  background-color: lightblue;
  border: 4px solid white;
  float: left;
}

#grid {
  width: 600px;
  margin: 100px auto;

}
.middle{
  width: 600px;
  height: 50px;
}

.ins{
width: 200px;
height: 400px;

}

.bottom{
  width:600px;
  height:100px;
}
.top{
  width: 600px;
  height: 100px;
}
