* {
  box-sizing: border-box;
}

body{
  background-color: green
}
div{
  float:right;

}

.ins, .top, .middle, .bottom{
  background-color: lightblue;
  border: 4px solid white;
}

#grid {
  width: 400px;
  margin: calc(100vh - 600px)
}

.whole{
  width: 222px;
}
.middle{
  width: 250px;
}

.ins{
width: 199px;
height: 400px;
}

.bottom{
  width:600px;
  height:100px;
}
.top{
  width: 600px;
  height: 100px;
}
